.container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px; /* Adjust this value as needed */
  }
  
  .title {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .paragraph p {
    margin: 0;
    padding: 10px 0;
  }
  
  img {
    width: 80%;
  }